<li>
  <a class="spec-link" href="{{this.route}}?ref={{currentBranchName}}">
    <section class="file-container">
      {{#if this.empty}}
        <section class="file-details">
          <p class="file-name"><span class="empty-file" title="This file is empty" >&#x2205;&nbsp;&nbsp;{{this.name}}</span></p>
        </section>
      {{else if this.error}}
        <section class="file-details">
          <p class="file-name"><span class="parse-error" title="Error parsing file.">&#x1F645;&nbsp;&nbsp;{{this.name}}</span></p>
        </section>
      {{/if}}
      {{#if this.data}}
        <section class="feature-summary">
          <p class="feature-name" title="{{this.filePath}}">{{this.data.name}}</p>
          {{#if this.data.description }}
          <p class="feature-description" title="{{this.data.description}}">{{this.data.description}}</p>
          {{/if }}
        </section>
      {{/if}}
    </section>
  </a>
</li>
