{{> layout_start_document}}
<!--  Feature specific CSS -->
<link rel="stylesheet" href="/public/css/feature.css">
{{> layout_start_body}}
<main>
  <header>
    <h1>Your Feature</h1>
  </header>
  <section>
    {{#each features}}<!-- start feature -->
      {{comments}}<br>
      {{#each tags}}{{this}} {{/each}}<br>
      {{keyword}}: {{name}}<br><br>
      <pre>{{description}}<pre><br><br>
      {{> feature_scenario}}
    {{else}}
      <p>Sorry, no feature found</p>
    {{/each}}<!-- end feature -->
  </section>
</main>
{{> layout_end}}
