{{> layout_start_document}}
<!--  Feature specific CSS -->
<link rel="stylesheet" href="/public/css/feature.css">
{{> layout_start_body}}
<main>
  <header>
    <h1>Your Feature</h1>
  </header>
  <section>
    {{#each features}}<!-- start feature -->
      {{comments}}<br>
      {{#each tags}}{{this}} {{/each}}<br>
      {{keyword}}: {{name}}<br><br>
      {{description}}<br><br>
      {{#each scenarios}}<!-- start scenario -->
        {{comments}}<br>
        {{#each tags}}{{this}} {{/each}}<br>
        {{keyword}}: {{name}}<br>
        {{#each steps}}<!-- start step -->
          {{keyword}} {{name}}<br>
          {{#each rows}}
            &nbsp;&nbsp;| {{content}} |<br>
          {{/each}}
          {{#each docStrings}}
            <br>
            """ {{contentType}}
            <pre>{{content}}</pre>
            """
            <br>
          {{/each}}
        {{/each}}<!-- end step -->
        {{#each examples}}
          <br>
          {{#each tags}}{{this}} {{/each}}<br>
          {{keyword}}: {{name}}<br>
          {{description}}<br>
          {{#each rows}}
            &nbsp;&nbsp;| {{content}} |<br>
          {{/each}}
        {{/each}}
      {{/each}}<!-- end scenario -->
    {{else}}
      <p>Sorry, no feature found</p>
    {{/each}}<!-- end feature -->
  </section>
</main>
{{> layout_end}}
