{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/project.css">
<link href="/bower/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/bower/select2/dist/js/select2.min.js"></script>
<script src="/public/javascript/project.js"></script>
<script src="/public/javascript/loader.js"></script>
{{> layout_start_body}}
<main>
  <header>
    <h1 class="project-name">{{project.repoName}}</h1>
  </header>
  {{#if project}}
    <section class="project">
      <section class="controls">
        <button id="expand-collapse-repository-controls" class="burger-menu"></button>
        <section id="repository-controls" class="repository-controls collapsible collapse">
          <h3>Repository controls</h3>
          <div class="project-refs">
            <span class="project-branch">
              <label for="project-branch-select">Branch or tag:</label>
              <select id="change-branch-control" title="{{project.currentBranchName}}">
                {{#each project.tagsAndBranches}}
                  <option value="{{this.urlEncodedName}}" {{#if this.current}}selected{{/if}} >{{this.name}}</option>
                {{else}}
                  <option selected>No branch data found</option>
                {{/each}}
              </select>
            </span>
            <span class="project-commit">&commat;{{project.shortCommit}}</span>
          </div>
          <a href="?update=true"><button class="project-update call-to-action loader-button">Get Latest</button></a>
          <span class="repo-link"><a href="{{project.repoUrl}}">(visit&nbsp;repository)</a></span>
          <div class="loader-container"><div class="loader"></div></div>
        </section>
        <section class="content-controls">
          <button class="back-button call-to-action" onclick="window.history.back()"></button>
          <button id="expand-collapse-file-lists" class="call-to-action"><span>Expand/Collapse All</span></button>
        </section>
        <hr>
      </section>
      <section class="spec-links">
        {{#each project.filesByDir as |files directoryPath|}}
          <section class="directory">
            <h2 class="directory-path interactive" title="{{directoryPath}}">{{#directory_path directoryPath pathsToHideRegex=../pathsToHideRegex}}{{this}}{{/directory_path}}</h2>
            <ul class="file-list collapsible">
              {{#each files}}
                {{#if this.isFeatureFile}}
                  {{> project_file_feature this currentBranchName=../../../project.currentBranchName}}
                {{else if this.isMarkdownFile}}
                  {{> project_file_markdown this currentBranchName=../../../../project.currentBranchName}}
                {{else}}
                  {{> project_file this currentBranchName=../../../../project.currentBranchName}}
                {{/if}}
              {{/each}}
            </ul>
          </section>
        {{else}}
          <p>Sorry, this project does not appear to contain any specifications</p>
        {{/each}}
      </section>
    </section>
  {{else}}
    <p>Sorry, no project data was found</p>
  {{/if}}
</main>
{{> layout_end}}
