{{> layout_start_document}}
<link rel="stylesheet" href="/public/css/projects.css">
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/public/javascript/loader.js"></script>
{{> layout_start_body}}
<main class="projects group">
  <header>
    <h1>Projects</h1>
  </header>
  <section>
    <h2>Add Project</h2>
    <form action="/" method="get">
      <label>Project's Git URL (https only please): <input type="text" name="repo_url" /></label>
      <button class="call-to-action loader-button">Submit</button>
    </form>
    <div class="loader-container"><div class="loader"></div></div>
  </section>
  <section>
    <h2>Available Projects</h2>
    {{#if projects}}
      <ul class="projects">
        {{#each projects}}
          <li class="project"><a href="{{../projectRoute}}/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      <p>No projects here yet, add some!</p>
    {{/if}}
  </section>
</main>
<footer>
  <div class="app-version">Version: {{appVersion}}</div>
</footer>
{{> layout_end}}
